{{!
    @template local_edc_exporter/settings_intro

    Introductory panel for the plugin settings page.
}}
<div class="edc-admin-panel">
    {{{navigation}}}
    <div class="edc-admin-panel-header">
        <div>
            <h3>{{heading}}</h3>
            <p>{{description}}</p>
        </div>
        <div class="edc-admin-actions">
            <a class="edc-btn edc-btn-primary" href="{{setupurl}}">{{setuplabel}}</a>
        </div>
    </div>
</div>
